{{#each row}}

<div class="card mt-4 mb-3">
    <div class="card-body">
        <h2 class="float-start" style="display: inline;">{{title}}</h1>
            <small class="float-end">Date: {{created_at}}</small>

            <form action="/admin/delete_question" method="POST">

                <input type="hidden" name="id" id="id" value="{{id}}">
                <button class="form-control btn btn-danger mt-3" type="submit">Excluir Pergunta</button>
            </form>

            <a href="/admin/admin-responses/{{id}}"><button class="form-control btn btn-primary mt-3">Ver Respostas</button></a>
    </div>
</div>
{{else}}
<h2 style="color: #ccc;" class="mt-4">Nenhuma Pergunta Ainda...</h2>
{{/each}}