<small style="color: #ccc; margin-left: 3px;">Painel de Admin</small>

<h1>Respostas sobre a pergunta:</h1>
{{#each row}}
<div class="card mt-4">
    <div class="card-body">
        <h2>{{title}}</h2>
        <small>Descrição:</small>
        <p style="font-size: 18px;">{{content}}</p>
    </div>
</div>
<input type="hidden" name="id" value="{{id}}">
{{else}}
{{/each}}
<h2 class="mt-3 mb-3">Respostas:</h2>

{{#each rowExibir}}

<div class="card mt-4 mb-3">
    <div class="card-body">

        <p style="font-weight: 500; font-size: 18px;">{{content_res}}</p>
        <form action="/admin/delete-response" method="POST">
        
        <input type="hidden" name="id_response" value="{{id}}">
        <button type="submit" class="btn btn-danger">Deletar</button>
        </form>

    </div>
</div>

{{else}}
<h2 style="color: #ccc;">Nenhuma Resposta Para Esta Pergunta...</h2>
{{/each}}